.navbar {
    width: 90%;
    height: 60px;
    background-color: rgb(37, 36, 36);
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: opacity 0.3s ease;
}


a {
    color: #EFECE3;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
    color: #00f2fe;
    transform: scale(1.2);
    text-decoration: none;
}

#Nav_about:hover{
    color: orangered;
    transform: scale(1.2);
    text-decoration: none;
}


.nav_icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    color: #EFECE3;
    font-size: 1.5rem; 
    transition: color 0.3s ease, transform 0.3s ease;
}

i:hover {
    color: #00f2fe;
    transform: translateY(-2px);
}